# Sensitive Information
.env

# Dependencies & System Junk (Recommended to keep ignored)
node_modules/
__pycache__/
.venv/
venv/
env/
.DS_Store
.git
backend/detections/
backend/uploads/
backend/temp_uploads/
backend/runs/
backend/training_data/
*.mp4
*.pt
